.questioncard {
	position: relative;
	padding: 50px;
	color: black;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		0deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(171, 171, 171, 1) 0%,
		rgba(255, 255, 255, 1) 100%
	);
	text-align: center;
	border-color: black;
	border-width: 0px;
	border-style: solid;
	margin: 20px;
	border-radius: 30px;
	margin-bottom: 1Opx;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.card__button-answer {
	background-color: black;
	color: white;
	border: none;
	padding: 10px 20px;
	display: inline-block;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 20px;
}

.card__question {
	padding-top: 10px;
	text-align: center;
	text-shadow: #ccc;
}

.answer {
	font-size: 20px;
	margin-top: 20px;
	display: none;
	padding-bottom: 10px;
}

.bookmark {
	background-color: transparent;
	border: 0;
	position: absolute;
	top: -20px;
	right: 1px;
}

.card__tag-list {
	display: flex;
	flex-direction: row;
	margin: px;
	position: absolute;
	bottom: 0px;
	left: 0x;
	list-style-type: none;
}

.hashtag {
	background-color: rgb(97, 93, 93);
	padding: 5px 10px;
	border-radius: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	box-shadow: 2px 2px 5px #ccc;
	font-size: 15px;
}

.card__button-answer {
	background-color: black;
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 20px;
}
