.card-list {
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px 24px;
	border: 1px;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-around;
	padding: 300px;
	margin-bottom: 100px;
	list-style-type: none;
}

.card-list__item {
	margin: 0 0 2rem;
	list-style-type: none;
}
