/* Importieren eine generellen schrift durch fonts.google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Festlegung der Fabpalette die auf der Website vertreten sein soll */
:root {
	--main-brand-color: linear-gradient(
		0deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 0%,
		rgba(4, 125, 197, 1) 48%,
		rgba(0, 212, 255, 1) 100%
	);
	--primary-color: #978de8;
	--secundary-color: #f396a4;
	--light-secondary-color: #f7c4cd;
	--text-color: #000000;
	--secondary-text-color: #ffffff;
}

/* mit "*" werden alle Webiste Elemente ausgewäghlt = Universal Selector */
* {
	margin: 0;
	padding: 0;
}

/* Mit der "var" Funtkion verweist man auf die oben erstellte Color 
   "vw" und "vh" ähneln den Prozentangaben, aber sie beziehen sich auf den Viewport und nicht auf das umfassende Element. */
body {
	min-height: 100vh;
	background: var(--main-brand-color);
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	color: var(--text-color);
	padding-top: 130px;
	margin-bottom: 0px;
}

h1 {
	margin-top: 0px;
	padding: 30px;
	vertical-align: middle;
	text-shadow: px 2px 5px rgb(56, 56, 56);
}

h2 {
	text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
}

p {
	text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
}

button {
	text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
}
